:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

    text-align: center;

    h1 {
        font-size: 2.25rem;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
        color: #475467;
        opacity: 0.45;
        font-weight: 400;
        max-width: 50%;
        margin: 0 auto;
    }
}