@use "themes/theme-colors" as colors;

:host {
    .container-layout {
        display: flex;
        flex-direction: column;
        height: 100vh;

        &-drawer {
            flex: 1;
        }
    }

    .sidenav-layout {
        box-shadow: 0px 2px 8px 0px #00000026;
        background-color: colors.$white-color;
        transition: width 0.3s ease;
        width: 15.625rem;

        &.collapsed {
            width: 64px !important;
            min-width: 64px !important;
        }
    }

    .content-layout {
        flex: 1;
        overflow: hidden;
        height: 100%;
    }
}
