@use "@angular/material" as mat;
@use "./themes/media-queries" as media;
@use "./themes/theme-colors" as colors;

@include mat.core();

$my-primary: mat.m2-define-palette(colors.$header-material-palette, 500, 300, 700);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

button.mat-mdc-button.mat-primary,
button.mat-mdc-raised-button.mat-primary,
button.mat-mdc-unelevated-button.mat-primary,
button.mat-mdc-outlined-button.mat-primary,
button.mat-mdc-icon-button.mat-primary,
a.mat-mdc-button.mat-primary,
a.mat-mdc-raised-button.mat-primary,
a.mat-mdc-unelevated-button.mat-primary,
a.mat-mdc-outlined-button.mat-primary {
  color: white ;
  
  .mdc-button__label,
  .mat-mdc-button-persistent-ripple,
  .mat-ripple-element {
    color: white ;
  }
  
  mat-icon {
    color: white ;
  }
}

html {
  font-size: 16px;

  @include media.respond(laptop-hd) {
    font-size: 14px;
  }

  @include media.respond(ultrawide, min-width) {
    font-size: 18px;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #010202;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  color: #010202;
  background: colors.$secondary-color;
}

a {
  text-decoration: none;
  color: pointer; 

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6,
p, span, a, li, ul, ol,
blockquote, pre, code,
strong, em, small, sub, sup,
label, dt, dd, figcaption {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}